@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the sans-serif font family
$family-sans-serif: 'Baloo 2', sans-serif;

// 3. Set the derived variables
$primary: #65d842;
$primary-invert: #ffffff;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
